*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata


*.jpg
*.jpeg
*.png
*.bmp

*.xls
*.xlsx
*.csv
*.sav

*.txt
*.pdf
*.doc
*.docx

*.ppt
*.pptx

*.h5
*.DS_Store
*.conf.saved
*.Rproj.user
*.zip
*.Rproj.user
*.gif
*.mp4

